.medical-recs-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-med-recs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.input-med-recs .full-name-med-recs,
.input-med-recs .DOB-med-recs,
.input-med-recs .Postcode-NHSnumber-recs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.health-conditions-med-recs table {
  font-family: "GDS Transport full-light";
  border-collapse: collapse;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  font-size: 8px;
}

.health-conditions-med-recs table th,
.health-conditions-med-recs table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.health-conditions-med-recs table th {
  background-color: #0088ff;
  font-weight: bold;
}
