/* Produced by Bryan Naoum Barakat student w18484023 */

.availabilities-patient-apps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.available-title-patient-app h1 {
  font-family: "GDS Transport full-light";
}

.title-patient-app-booking {
  position: absolute;
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.propa-booking span:nth-child(1) {
  font-weight: 100;
  font-size: 40px;
}

.propa-booking section {
  width: 30vw;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.propa-booking {
  font-size: 24px;
  color: #fff;
  background-color: #1d70b8;
  height: 60vh;
  width: 40vw;
  padding-left: 60px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-left: 30px solid #0088ff;
  border-bottom: 26px solid #0088ff;
  position: absolute;
  right: 0;
  top: 46%;
  transform: translateY(-50%);
}

.doctors-app {
  display: flex;
  flex-direction: column;
}

.doctors-app select {
  width: 31.5vw;
  border: 2px solid black;
  font-size: 16px;
  padding: 8px;
}

.doctors-date-time {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.doctors-date-time input {
  font-family: "GDS Transport full-bold";
  font-weight: bold;
}

.doctors-date-time .date-app {
  display: flex;
  flex-direction: column;
}

.doctors-date-time #date-field {
  font-family: "GDS Transport semi-bold";
  margin: 0;
  padding: 10px;
  border: 2px solid black;
  width: 30vw;
}

.doctors-date-time .time-app {
  width: 31vw;
  padding: 10px;
  margin-left: -3px;
}

.doctors-date-time label {
  font-size: 20px;
  margin-bottom: 10px;
}

.registration-appointment {
  margin-top: 14px;
}
