.availabilities-patient-apps {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.available-title-patient-app h1 {
  font-family: "GDS Transport full-light";
}

.title-patient-app-booking {
  position: absolute;
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.doctors-app {
  display: flex;
  flex-direction: column;
}

.doctors-app select {
  width: 31.5vw;
  border: 2px solid black;
  font-size: 16px;
  padding: 8px;
}

.doctors-date-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.doctors-date-time input {
  font-family: "GDS Transport full-bold";
  font-weight: bold;
}

.doctors-date-time .date-app {
  display: flex;
  flex-direction: column;
}

.doctors-date-time #date-field {
  font-family: "GDS Transport semi-bold";
  margin: 0;
  padding: 10px;
  border: 2px solid black;
  width: 30vw;
}

.doctors-date-time .time-app {
  width: 30vw;
  padding: 10px;
  border: 2px solid black;
}

.doctors-date-time label {
  font-size: 20px;
  margin-bottom: 10px;
}

.registration-appointment {
  margin-top: 14px;
}
