.title-doc-patient-med-rec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 14vw;
  margin-right: 10vw;
  margin-top: 10vh;
  white-space: nowrap;
}

.title-doc-patient-med-rec .title-doc-patient-med-rec-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.title-doc-patient-med-rec .title-doc-patient-med-rec-buttons button {
  margin: 0;
}

.title-doc-patient-med-rec a {
  color: #303030;
  font-size: 22px;
}

.doc-patient-med-rec-container .nav-options-doc-patient-med-rec-container a {
  text-decoration: none;
  color: #fff;
}

.title-doc-patient-med-rec-header {
  max-width: 50vw;
  white-space: normal;
}

.doc-patient-med-rec-container .nav-options-doc-patient-med-rec-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
  top: -2.5%;
  gap: 60px;
  white-space: nowrap;
}

.doc-patient-med-rec-container .nav-options-doc-patient-med-rec-container a {
  text-decoration: none;
  color: #fff;
}

.doc-patient-med-rec-container
  .nav-options-doc-patient-med-rec-container
  a:hover {
  border-bottom: 4px solid #fff;
}

.edit-changes-doc,
.submit-changes-med-rec-neo {
  visibility: hidden;
}
