.patients-apps-main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

#input-search-patients-apps {
  width: 400px;
}

.patients-apps-main-content span {
  position: absolute;
  right: 11.5%;
  background-color: #0088ff;
  padding: 8px;
}

.patients-apps-main-content span img {
  width: 20px;
  height: 20px;
}
