.title-patient-med-rec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  white-space: nowrap;
}

.title-patient-med-rec a {
  color: #303030;
  font-size: 22px;
  font-weight: 600;
}

.patient-med-rec-container .nav-options-patient-med-rec-container a {
  text-decoration: none;
  color: #fff;
}

.patient-med-rec-container .nav-options-patient-med-rec-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
  top: -2.5%;
  gap: 60px;
  white-space: nowrap;
}

.patient-med-rec-container .nav-options-patient-med-rec-container a {
  text-decoration: none;
  color: #fff;
}

.patient-med-rec-container .nav-options-patient-med-rec-container a:hover {
  border-bottom: 4px solid #fff;
}
