/* Produced by Bryan Naoum Barakat student w18484023 */

.registration-input-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.already-a-member-register a {
  text-decoration: none;
  color: #1d70b8;
}

.already-a-member-register a:hover {
  color: #0088ff;
}

.registration-input-container input {
  width: 35vw;
}

label span,
p span {
  color: red;
}

.registration-input-container label {
  display: inline;
}

.gender-registration {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.gender-registration select {
  border: 2px solid black;
  padding: 10px;
  font-size: large;
}

/* #error-summary {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0088ff;
  width: 60vw;
  text-align: center;
} */

#date-registration {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  user-select: none;
}

input[type="date"] {
  border: 2px solid black;
}

.name-registration,
.postcode-number-registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-registration input,
.postcode-number-registration input {
  width: 16vw;
}

.first-name-registration,
.last-name-registration,
.postcode-register,
.NHS-numb-register,
.email-registration,
.password-registration {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.already-a-member-register {
  position: absolute;
  right: 0;
  top: 81%;
  white-space: nowrap;
}

.submit-registration {
  margin-top: 20px;
}
